<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.demo.dao.CourseDOMapper">
    <resultMap id="BaseResultMap" type="com.project.demo.DO.CourseDO">
        <id column="course_id" jdbcType="INTEGER" property="courseId"/>
        <result column="course_name" jdbcType="VARCHAR" property="courseName"/>
        <result column="course_deadline" jdbcType="DATE" property="courseDeadline"/>
        <result column="author_id" jdbcType="INTEGER" property="authorId"/>
        <result column="schedule" jdbcType="INTEGER" property="schedule"/>
        <result column="completed" jdbcType="INTEGER" property="completed"/>
        <result column="stu_cnt" jdbcType="INTEGER" property="stuCnt"/>
    </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.project.demo.DO.CourseDO">
        <result column="course_desc" jdbcType="LONGVARCHAR" property="courseDesc"/>
    </resultMap>
    <sql id="Base_Column_List">
    course_id, course_name, course_deadline, author_id, schedule, completed,stu_cnt
  </sql>
    <sql id="Blob_Column_List">
    course_desc
  </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from course
        where course_id = #{courseId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from course
    where course_id = #{courseId,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.project.demo.DO.CourseDO">
    insert into course (course_id, course_name, course_deadline, 
      author_id, schedule, completed, 
      course_desc)
    values (#{courseId,jdbcType=INTEGER}, #{courseName,jdbcType=VARCHAR}, #{courseDeadline,jdbcType=DATE}, 
      #{authorId,jdbcType=INTEGER}, #{schedule,jdbcType=INTEGER}, #{completed,jdbcType=INTEGER}, 
      #{courseDesc,jdbcType=LONGVARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.project.demo.DO.CourseDO">
        insert into course
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="courseId != null">
                course_id,
            </if>
            <if test="courseName != null">
                course_name,
            </if>
            <if test="courseDeadline != null">
                course_deadline,
            </if>
            <if test="authorId != null">
                author_id,
            </if>
            <if test="schedule != null">
                schedule,
            </if>
            <if test="completed != null">
                completed,
            </if>
            <if test="courseDesc != null">
                course_desc,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="courseId != null">
                #{courseId,jdbcType=INTEGER},
            </if>
            <if test="courseName != null">
                #{courseName,jdbcType=VARCHAR},
            </if>
            <if test="courseDeadline != null">
                #{courseDeadline,jdbcType=DATE},
            </if>
            <if test="authorId != null">
                #{authorId,jdbcType=INTEGER},
            </if>
            <if test="schedule != null">
                #{schedule,jdbcType=INTEGER},
            </if>
            <if test="completed != null">
                #{completed,jdbcType=INTEGER},
            </if>
            <if test="courseDesc != null">
                #{courseDesc,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.project.demo.DO.CourseDO">
        update course
        <set>
            <if test="courseName != null">
                course_name = #{courseName,jdbcType=VARCHAR},
            </if>
            <if test="courseDeadline != null">
                course_deadline = #{courseDeadline,jdbcType=DATE},
            </if>
            <if test="authorId != null">
                author_id = #{authorId,jdbcType=INTEGER},
            </if>
            <if test="schedule != null">
                schedule = #{schedule,jdbcType=INTEGER},
            </if>
            <if test="completed != null">
                completed = #{completed,jdbcType=INTEGER},
            </if>
            <if test="courseDesc != null">
                course_desc = #{courseDesc,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where course_id = #{courseId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.project.demo.DO.CourseDO">
    update course
    set course_name = #{courseName,jdbcType=VARCHAR},
      course_deadline = #{courseDeadline,jdbcType=DATE},
      author_id = #{authorId,jdbcType=INTEGER},
      schedule = #{schedule,jdbcType=INTEGER},
      completed = #{completed,jdbcType=INTEGER},
      course_desc = #{courseDesc,jdbcType=LONGVARCHAR}
    where course_id = #{courseId,jdbcType=INTEGER}
  </update>
    <update id="updateByPrimaryKey" parameterType="com.project.demo.DO.CourseDO">
    update course
    set course_name = #{courseName,jdbcType=VARCHAR},
      course_deadline = #{courseDeadline,jdbcType=DATE},
      author_id = #{authorId,jdbcType=INTEGER},
      schedule = #{schedule,jdbcType=INTEGER},
      completed = #{completed,jdbcType=INTEGER}
    where course_id = #{courseId,jdbcType=INTEGER}
  </update>

    <select id="getCourseList" resultType="com.project.demo.VO.CourseVO">
    select course_id, course_name, course_deadline, author_id, CONVERT(completed/schedule,DECIMAL(10,2)) as progress,course_desc
    from course
    where author_id=#{userId,jdbcType=INTEGER}
  </select>
    <insert id="createCourse">
        insert into course (course_name,course_deadline,author_id,course_desc,schedule)
        values (#{courseDO.courseName,jdbcType=VARCHAR},
                #{courseDO.courseDeadline,jdbcType=TIMESTAMP},
                #{courseDO.authorId,jdbcType=INTEGER},
                #{courseDO.courseDesc,jdbcType=VARCHAR},
                #{courseDO.schedule,jdbcType=INTEGER});
    </insert>
    <delete id="deleteCourse">
        delete from course
        where course_id=#{courseId,jdbcType=INTEGER} and author_id=#{userId,jdbcType=INTEGER}
    </delete>
    <select id="searchCourseList" resultType="com.project.demo.VO.CourseVO">
        select course_id, course_name, course_deadline, author_id, CONVERT(completed/schedule,DECIMAL(10,2)) as progress,course_desc
        from course c
        where c.author_id=#{userId,jdbcType=INTEGER} and
               (locate(#{searchKey,jdbcType=VARCHAR},course_name)>0 or
               locate(#{searchKey,jdbcType=VARCHAR},course_desc)>0)
    </select>
    <select id="getSelectedCourseList" resultType="com.project.demo.VO.StuCourseVO">
        select e.course_id, c.course_name, c.course_deadline, c.author_id,u.nick_name as authorName,c.course_desc
        from course c inner join elective e
        on c.course_id = e.course_id
        inner join user u
        on c.author_id=u.user_id
        where e.user_id=#{userId,jdbcType=INTEGER}
    </select>
    <select id="getOptionalCourseList" resultType="com.project.demo.VO.CourseVO">
        select c.course_id,c.course_name,u.nick_name,c.course_deadline,c.course_desc
        from course c inner join user u
        on c.author_id=u.user_id
        where c.course_id not in(
			select e.course_id
			from elective e
			where user_id=#{userId,jdbcType=INTEGER}
		)
    </select>
    <select id="getWorkOfCourse" resultType="com.project.demo.VO.CourseVO">
        SELECT w.work_id,w.work_name,w.deadline,w.work_desc,max(ws.submit_date)
        from elective e INNER JOIN work w
        on e.course_id=w.course_id
        left join workSubmit ws
        on w.work_id=ws.work_id
        where e.user_id=#{userId,jdbcType=INTEGER}
        group by w.work_id,w.work_name,w.deadline,w.work_desc
    </select>



</mapper>