<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.demo.dao.LessonDOMapper">
    <resultMap id="BaseResultMap" type="com.project.demo.DO.LessonDO">
        <id column="course_id" jdbcType="INTEGER" property="courseId"/>
        <id column="lesson_id" jdbcType="INTEGER" property="lessonId"/>
        <result column="lesson_name" jdbcType="VARCHAR" property="lessonName"/>
    </resultMap>
    <sql id="Base_Column_List">
    course_id, lesson_id, lesson_name
  </sql>
    <select id="selectByPrimaryKey" parameterType="com.project.demo.DO.LessonDOKey" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from lesson
        where course_id = #{courseId,jdbcType=INTEGER}
        and lesson_id = #{lessonId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="com.project.demo.DO.LessonDOKey">
    delete from lesson
    where course_id = #{courseId,jdbcType=INTEGER}
      and lesson_id = #{lessonId,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.project.demo.DO.LessonDO">
    insert into lesson (course_id, lesson_id, lesson_name
      )
    values (#{courseId,jdbcType=INTEGER}, #{lessonId,jdbcType=INTEGER}, #{lessonName,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.project.demo.DO.LessonDO">
        insert into lesson
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="courseId != null">
                course_id,
            </if>
            <if test="lessonId != null">
                lesson_id,
            </if>
            <if test="lessonName != null">
                lesson_name,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="courseId != null">
                #{courseId,jdbcType=INTEGER},
            </if>
            <if test="lessonId != null">
                #{lessonId,jdbcType=INTEGER},
            </if>
            <if test="lessonName != null">
                #{lessonName,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.project.demo.DO.LessonDO">
        update lesson
        <set>
            <if test="lessonName != null">
                lesson_name = #{lessonName,jdbcType=VARCHAR},
            </if>
        </set>
        where course_id = #{courseId,jdbcType=INTEGER}
        and lesson_id = #{lessonId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.project.demo.DO.LessonDO">
    update lesson
    set lesson_name = #{lessonName,jdbcType=VARCHAR}
    where course_id = #{courseId,jdbcType=INTEGER}
      and lesson_id = #{lessonId,jdbcType=INTEGER}
  </update>

    <select id="getLessonList" resultMap="BaseResultMap">
        select *
        from lesson
        where course_id=#{courseId,jdbcType=INTEGER}

    </select>
</mapper>