<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.demo.dao.UserDOMapper">
    <resultMap id="BaseResultMap" type="com.project.demo.DO.UserDO">
        <id column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="nick_name" jdbcType="VARCHAR" property="nickName"/>
        <result column="authority" jdbcType="TINYINT" property="authority"/>
        <result column="account" jdbcType="VARCHAR" property="account"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="tel" jdbcType="VARCHAR" property="tel"/>
        <result column="coin_cnt" jdbcType="INTEGER" property="coinCnt"/>
    </resultMap>
    <sql id="Base_Column_List">
    user_id, nick_name, authority, account, password,tel,coin_cnt
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user
        where user_id = #{userId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.project.demo.DO.UserDO">
    insert into user (user_id, nick_name, authority, 
      account, password)
    values (#{userId,jdbcType=INTEGER}, #{nickName,jdbcType=VARCHAR}, #{authority,jdbcType=TINYINT}, 
      #{account,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.project.demo.DO.UserDO">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                user_id,
            </if>
            <if test="nickName != null">
                nick_name,
            </if>
            <if test="authority != null">
                authority,
            </if>
            <if test="account != null">
                account,
            </if>
            <if test="password != null">
                password,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="nickName != null">
                #{nickName,jdbcType=VARCHAR},
            </if>
            <if test="authority != null">
                #{authority,jdbcType=TINYINT},
            </if>
            <if test="account != null">
                #{account,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.project.demo.DO.UserDO">
        update user
        <set>
            <if test="nickName != null">
                nick_name = #{nickName,jdbcType=VARCHAR},
            </if>
            <if test="authority != null">
                authority = #{authority,jdbcType=TINYINT},
            </if>
            <if test="account != null">
                account = #{account,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
        </set>
        where user_id = #{userId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.project.demo.DO.UserDO">
    update user
    set nick_name = #{nickName,jdbcType=VARCHAR},
      authority = #{authority,jdbcType=TINYINT},
      account = #{account,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>

    <select id="selectByAccount" resultMap="BaseResultMap">
    select *
    from user
    where account=#{account,jdbcType=VARCHAR}
  </select>
    <insert id="studentRegistered" parameterType="com.project.demo.DO.UserDO">
    insert into user(nick_name,account,password,authority,tel)
    values(
        #{nickName,jdbcType=VARCHAR},
        #{account,jdbcType=VARCHAR},
        #{password,jdbcType=VARCHAR},
        #{authority,jdbcType=TINYINT},
        #{tel,jdbcType=VARCHAR})
  </insert>

    <select id="searchUser" resultType="com.project.demo.VO.UserVO">
        select user_id, nick_name, account,tel
        from user
        where locate(#{searchKey,jdbcType=VARCHAR},nick_name)>0||
            locate(#{searchKey,jdbcType=VARCHAR},account)>0||
            locate(#{searchKey,jdbcType=VARCHAR},tel)>0
    </select>
    <select id="getInfo" resultType="com.project.demo.VO.UserVO">
        select user_id,nick_name,account,tel
        from user
        where user_id=#{userId,jdbcType=INTEGER}
    </select>
</mapper>