<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.demo.dao.WorkDOMapper">
    <resultMap id="BaseResultMap" type="com.project.demo.DO.WorkDO">
        <id column="work_id" jdbcType="INTEGER" property="workId"/>
        <result column="course_id" jdbcType="INTEGER" property="courseId"/>
        <result column="work_name" jdbcType="VARCHAR" property="workName"/>
        <result column="deadline" jdbcType="DATE" property="deadline"/>
        <result column="submit_cnt" jdbcType="INTEGER" property="submitCnt"/>
        <result column="author_id" jdbcType="INTEGER" property="authorId"/>
    </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.project.demo.DO.WorkDO">
        <result column="work_desc" jdbcType="LONGVARCHAR" property="workDesc"/>
    </resultMap>
    <sql id="Base_Column_List">
    work_id, course_id, work_name, deadline, submit_cnt, author_id
  </sql>
    <sql id="Blob_Column_List">
    work_desc
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from work
        where work_id = #{workId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from work
    where work_id = #{workId,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.project.demo.DO.WorkDO">
    insert into work (work_id, course_id, work_name, 
      deadline, submit_cnt, author_id, 
      work_desc)
    values (#{workId,jdbcType=INTEGER}, #{courseId,jdbcType=INTEGER}, #{workName,jdbcType=VARCHAR}, 
      #{deadline,jdbcType=DATE}, #{submitCnt,jdbcType=INTEGER}, #{authorId,jdbcType=INTEGER}, 
      #{workDesc,jdbcType=LONGVARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.project.demo.DO.WorkDO">
        insert into work
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="workId != null">
                work_id,
            </if>
            <if test="courseId != null">
                course_id,
            </if>
            <if test="workName != null">
                work_name,
            </if>
            <if test="deadline != null">
                deadline,
            </if>
            <if test="submitCnt != null">
                submit_cnt,
            </if>
            <if test="authorId != null">
                author_id,
            </if>
            <if test="workDesc != null">
                work_desc,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="workId != null">
                #{workId,jdbcType=INTEGER},
            </if>
            <if test="courseId != null">
                #{courseId,jdbcType=INTEGER},
            </if>
            <if test="workName != null">
                #{workName,jdbcType=VARCHAR},
            </if>
            <if test="deadline != null">
                #{deadline,jdbcType=DATE},
            </if>
            <if test="submitCnt != null">
                #{submitCnt,jdbcType=INTEGER},
            </if>
            <if test="authorId != null">
                #{authorId,jdbcType=INTEGER},
            </if>
            <if test="workDesc != null">
                #{workDesc,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.project.demo.DO.WorkDO">
        update work
        <set>
            <if test="courseId != null">
                course_id = #{courseId,jdbcType=INTEGER},
            </if>
            <if test="workName != null">
                work_name = #{workName,jdbcType=VARCHAR},
            </if>
            <if test="deadline != null">
                deadline = #{deadline,jdbcType=DATE},
            </if>
            <if test="submitCnt != null">
                submit_cnt = #{submitCnt,jdbcType=INTEGER},
            </if>
            <if test="authorId != null">
                author_id = #{authorId,jdbcType=INTEGER},
            </if>
            <if test="workDesc != null">
                work_desc = #{workDesc,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where work_id = #{workId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.project.demo.DO.WorkDO">
    update work
    set course_id = #{courseId,jdbcType=INTEGER},
      work_name = #{workName,jdbcType=VARCHAR},
      deadline = #{deadline,jdbcType=DATE},
      submit_cnt = #{submitCnt,jdbcType=INTEGER},
      author_id = #{authorId,jdbcType=INTEGER},
      work_desc = #{workDesc,jdbcType=LONGVARCHAR}
    where work_id = #{workId,jdbcType=INTEGER}
  </update>
    <update id="updateByPrimaryKey" parameterType="com.project.demo.DO.WorkDO">
    update work
    set course_id = #{courseId,jdbcType=INTEGER},
      work_name = #{workName,jdbcType=VARCHAR},
      deadline = #{deadline,jdbcType=DATE},
      submit_cnt = #{submitCnt,jdbcType=INTEGER},
      author_id = #{authorId,jdbcType=INTEGER}
    where work_id = #{workId,jdbcType=INTEGER}
  </update>

    <insert id="createWork">
        insert into work (course_id, work_name, work_desc, deadline, author_id)
        values (#{courseId,jdbcType=INTEGER},#{workName,jdbcType=VARCHAR},#{workDesc,jdbcType=VARCHAR},#{deadline,jdbcType=TIMESTAMP},#{userId,jdbcType=INTEGER});
    </insert>
    <select id="getWorkList" resultType="com.project.demo.VO.WorkVO">
        SELECT w.work_id, c.course_id,c.course_name,w.work_name,w.deadline,w.work_desc,CONVERT(w.submit_cnt/c.stu_cnt,DECIMAL(10,2)) as progress
        from course c
        inner join work w
        on c.course_id=w.course_id
        where c.author_id=#{userId,jdbcType=INTEGER}
  </select>
    <select id="searchWork" resultType="com.project.demo.VO.WorkVO">
        SELECT w.work_id, c.course_id,c.course_name,w.work_name,w.deadline,w.work_desc,CONVERT(w.submit_cnt/c.stu_cnt,DECIMAL(10,2)) as progress
        from course c
        inner join work w
        on c.course_id=w.course_id
        where c.author_id=#{userId,jdbcType=INTEGER}
        and locate(#{searchKey,jdbcType=VARCHAR},w.work_name)>0
    </select>
    <update id="updateSubmit">
        update work
        set work.submit_cnt=submit_cnt+1
        where work_id=#{workId,jdbcType=INTEGER}
    </update>
    <delete id="deleteWork">
        delete from work
        where work_id=#{workId,jdbcType=INTEGER} and author_id=#{userId,jdbcType=INTEGER}
    </delete>

</mapper>